@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-950 text-slate-50;
}

button {
  @apply active:scale-[0.98] transition-transform;
}

input,
button {
  -webkit-tap-highlight-color: transparent;
}

